{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>SimplyBake</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{%static 'img/favicon/apple-touch-icon.png'%}">
  <link rel="icon" type="image/png" sizes="32x32" href="{%static 'img/favicon/favicon-32x32.png'%}">
  <link rel="icon" type="image/png" sizes="16x16" href="{%static 'img/favicon/favicon-16x16.png'%}">
  <link rel="manifest" href="{%static 'img/favicon/site.webmanifest'%}">
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light sticky-top" style="background-color:#FFFFFF;">
<div class="container-fluid">
  <a class="navbar-brand" href="{%url 'main'%}">
    <img src="{%static 'img/Logo.jpg'%}" width="120" height="60" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{%url 'main'%}">Home</a>
      </li>
            <li class="nav-items">
        <a class="nav-link" href="{%url 'about'%}">About</a>
      </li>
            <li class="nav-items">
        <a class="nav-link" href="{%url 'products'%}">Products</a>
      </li>
            <li class="nav-items">
        <a class="nav-link" href="{%url 'connect'%}">Connect</a>
      </li>
    </ul>
  </div>
</div>
</nav>

{%block content%}{%endblock%}

<!--- Fixed background -->
<figure>
  <div class="fixed-wrap">
    <div id="fixed">
    </div>
  </div>
</figure>

<!--- Emoji Section -->

  
<!--- Meet the team -->


<!--- Cards -->


<!--- Two Column Section -->

<hr class="my-4">
<!--- Connect -->
<div class="container-fluid container">
<div class="row text-center padding">
  <div class="col-12">
    <h2>Connect</h2>
    <p>Follow us on social media to get regular updates to what we're up to</p>
  </div>
  <div class="col-12 social padding">
    <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
    <a href="https://www.instagram.com/simplybakecompany/"><i class="fab fa-instagram"></i></a>
    <a href="https://youtube.com"><i class="fab fa-youtube"></i></a>
  </div>
</div>
</div>

<!--- Footer -->
<footer>
<div class="container-fluid padding">
<div class="row text-center">
  <div class="col-md-4">
    <hr class="light">
    <h2>SimplyBake</h2>
    <hr class="light">
    <p>15NguyenT@sjb.surrey.sch.uk</p>
    <p>Elmbridge Ln</p>
    <p>Surrey, Woking GU22 9AL</p>
  </div>
  <div class="col-md-4">
    <hr class="light">
    <h2>Products</h2>
    <hr class="light">
    <ul class="list-unstyled text-small">
      <li><a class="text-muted" href="{%url 'products'%}" style="display:block;padding: 10px;">Products</a></li>
      <li><a class="text-muted" href="{%url 'products'%}#brownies" style="display:block;padding: 10px;">Our Ingredients</a></li>
      <li><a class="text-muted" href="{%url 'products'%}#brownies" style="display:block;padding: 10px;">Recipes</a></li>
    </ul>
  </div>
    <div class="col-md-4">
    <hr class="light">
    <h2>Contact Us</h2>
    <hr class="light">
    <ul class="list-unstyled text-small">
      <li><a class="text-muted" href="{%url 'connect'%}" style="display:block;padding: 10px;">Connect</a></li>
    </ul>
  </div>  
  <div class="col-12">
    <hr class="light">
    <h5>SimplyBake.uk<h5>
  </div>
</div>
</div>
</footer>

</body>
</html>